<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmu.mapper.ExchangeMapper">
  <resultMap id="BaseResultMap" type="com.jmu.domain.Exchange">
    <id column="exc_id" jdbcType="INTEGER" property="excId" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="target_drom" jdbcType="VARCHAR" property="targetDrom" />
    <result column="target_room" jdbcType="VARCHAR" property="targetRoom" />
    <result column="state" jdbcType="BIT" property="state" />
    <association property="student" javaType="com.jmu.domain.Student">
      <result property="stuId" column="stu_id"/>
      <result property="stuName" column="stu_name"/>
    </association>
    <association property="manager" javaType="com.jmu.domain.Manager">
      <result property="managerId" column="manager_id"/>
      <result property="managerName" column="manager_name"/>
    </association>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from exchange
    where exc_id = #{excId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jmu.domain.Exchange">
    insert into exchange (exc_id, stu_id, reason, 
      target_drom, target_room, state, 
      handle_id)
    values (#{excId,jdbcType=INTEGER}, #{student.stuId,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR},
      #{targetDrom,jdbcType=VARCHAR}, #{targetRoom,jdbcType=VARCHAR}, #{state,jdbcType=BIT}, 
      #{manager.managerId,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.jmu.domain.Exchange">
    update exchange
    set stu_id = #{stuId,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=VARCHAR},
      target_drom = #{targetDrom,jdbcType=VARCHAR},
      target_room = #{targetRoom,jdbcType=VARCHAR},
      state = #{state,jdbcType=BIT},
      handle_id = #{handleId,jdbcType=VARCHAR}
    where exc_id = #{excId,jdbcType=INTEGER}
  </update>

  <update id="updateState" parameterType="com.jmu.domain.Exchange">
    update exchange
    set state = #{state},handle_id = #{manager.managerId}
    where exc_id = #{excId}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select exc_id, stu_id, reason, target_drom, target_room, state, handle_id
    from exchange
    where exc_id = #{excId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select exc_id, e.stu_id, s.stu_name, reason, target_drom, target_room, state, m.manager_id, m.manager_name
    from exchange e
    left join student s
    on e.stu_id = s.stu_id
    left join manager m
    on e.handle_id = m.manager_id
  </select>



</mapper>