# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
target/SSMMaven.war
target/classes/generated/
target/generated-sources/
!/src/main/resources/rebel.xml
